.status{
	border-bottom:1px solid #CCC;
	padding:5px 0;
	margin-bottom:20px;
}
.status p{
	margin: 0 0 5px;
}
.status.hover {
	background:#fafafa;
}
.status .admin {
	display:none;
}
.status.hover .admin{
	display:inline;
}
.page-header a {
	margin-top:-40px;
}